*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#header{
    text-transform: uppercase;
}
p.text{
    color: aqua;
}
#header>h1{
    color: bisque;
}
.text>strong{
    color: red;
}
.content-text{
    color: rgb(67, 180, 14);
    text-transform: capitalize;
}
p.text{
    color: rgb(214, 252, 2);
}
#footer>h2{
    text-transform: initial;
    color: firebrick;
}